# ignore
/*
/*/frames.rgb

# include
!.gitignore
!README.md
!/render-2D/
!/render-python/
!/render-odin/
!/render-C/
!prompt.py
!render-2d.py
!render-3d.py
!render-3d.odin
!render-3d.c
!/render-*/*.mp4